@font-face {
  font-display: swap;
}
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);
@import "~bulma/sass/utilities/_all";
@import "~bulma/sass/base/_all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/table";
@import "~bulma/sass/elements/button";
@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/box";
@import "~bulma/sass/elements/notification";
@import "~bulma/sass/components/media";
@import "~bulma/sass/components/navbar";
@import "~bulma/sass/components/card";
@import "~bulma/sass/components/pagination";
@import "~bulma/sass/components/modal";
@import "buefy";


@import "custum";
@import "overrides";
// 4. Provide custom buefy overrides and site styles here
