<template>
  <div class="about">
    <p>EliteDomashka - це Open Source проект який надає часткову заміну щоденнику.<br>
      Зроблено так, щоб працювало. 2018-2019.<br>
      by <a href="https://t.me/aquaminer">Алексей</a>
    </p>
  </div>
</template>
