<template>
    <section>
        <b-notification v-if="lessons == undefined || lessons.length == 0" type="is-warning" :closable="false">Даних немає 😔</b-notification>
        <div class="columns is-mobile is-multiline" >
            <div class="column is-one-third-desktop is-full-mobile is-full-tablet mobile-padding" v-for="(weekday, index) in weekdays" :key="index" >
                <div class="card" :id="weekday">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{weekday}}
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <b-table
                                    :data="lessons[index+1]"
                                    :mobile-cards=false
                            >
                                <template slot-scope="props">
                                    <b-table-column field="num" label="#" width="20">
                                        {{ props.row.num }}
                                    </b-table-column>
                                    <b-table-column field="text" label="Предмет">
                                        {{ props.row.text }}
                                    </b-table-column>
                                </template>

                            </b-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Lessons",
        data(){
            return {
                weekdays: [],
                lessons: []
            }
        },
        created(){
            var path = "lessons";

            var lessons = window.localStorage.getItem(path);
            if (lessons != null){
                this.lessons = JSON.parse(lessons);
            }
            window.api.callApi('lessons.getAll', {}, (response) => {
                var result = response.data.response;
                var filter = [];
                result.forEach((elem) => {
                    if (filter[elem.day] == undefined) filter[elem.day] = [];
                    filter[elem.day][filter[elem.day].length] = elem;
                });
                this.lessons = [];
                filter.forEach((elem, index) => {
                    this.$set(this.lessons, index, elem);
                });
                window.localStorage.setItem(path, JSON.stringify(this.lessons));

                this.$nextTick(() => setTimeout(() => this.$scrollTo('.column:nth-child(' + this.$dayjs().day() + ')', 200, {offset: 0}), 300));
            })

            var weekdays = this.$dayjs().$locale().weekdays;


            // weekdays[7] = weekdays[0]; //переносим воскресение в конец
            // weekdays.shift(); //удаляем воскресение
            // weekdays.pop(); //суботу

            weekdays.forEach((element, index) => {
                if(index == 0 || index == 6) return
                this.weekdays.push(element[0].toUpperCase() + element.substring(1));
            });
        },
        methods:{

        }
    }
</script>

<style scoped>

</style>
