<template>
    <section>
        <b-notification type="is-warning" :closable="false" v-if="isOnline == false">❗️❗️❗️ Отображается оффлайн копия домашки на момент {{$dayjs.unix(localStorage.getItem('lastupd'+week)).format("HH:mm DD.MM.YYYY") }}</b-notification>
        <div class="columns is-mobile is-multiline" >
            <div class="column is-one-third-desktop is-full-mobile is-full-tablet mobile-padding" v-for="(weekday, index) in weekdays" :key="index">
                <div class="card is-primary">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{weekday}} ({{$dayjs().week(week).startOf('week').add(index, 'day').format("DD.MM.YYYY")}})
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <b-notification v-if="taskdata[index] == undefined" has-icon :closable="false">
                                Дані відсутні
                            </b-notification>
                            <b-table
                                    v-else
                                     :data="taskdata[index]"
                                    detailed
                                    detail-key="task_id"
                                    :has-detailed-visible="(row) => {
                                        if (row.description == 'null') return false;
                                        return true;
                                    }"
                                    :mobile-cards=false
                                    :opened-detailed="openDeatil"
                            >
                                <template slot-scope="props">
                                    <b-table-column field="name" label="#" width="40"  sortable numeric>
                                        {{ props.row.num }}
                                    </b-table-column>
                                    <b-table-column field="name" label="Предмет" width="40">
                                        {{ props.row.name }}
                                    </b-table-column>
                                    <b-table-column field="task" label="Домашка">
                                        <div v-if="gdz_ids[props.row.lid] === undefined">{{props.row.task}}</div>
                                        <div v-else v-for="task in parseTask(props.row)">
                                            <div v-if="task[0] === true"><a @click="getDdzImg(props.row.lid, task[1])">{{task[1]}}</a></div>
                                            <div v-else>{{task}}</div>
                                        </div>
                                        <a class="detail-warn" v-if="props.row.description != 'null'" @click="clicked(props.row.task_id)">...</a>
                                    </b-table-column>
                                </template>
                                <template slot="detail" slot-scope="props">
                                    <p class="detail-text" v-html="props.row.description"></p>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-pagination
                total="53"
                :current.sync="week"
                order="is-centered"
                per-page="1"
                @change="getWeek"
        >
        </b-pagination>
        <b-modal :active.sync="img_modal.active">
            <p class="image">
                <img :src="img_modal.src">
            </p>
        </b-modal>
    </section>
</template>

<script>
    /* eslint-disable */
    export default {
        name: "Tasks",
        data(){
            return {
                api: null,
                week: 0,
                img_modal: {
                  active: false,
                  src: "",
                    notfound: '/img/notfound.png'
                },
                gdz_ids: [],
                weekdays: [],
                taskdata: [],
                openDeatil: [],
                isOnline: -1,

                columns: [
                    {
                        field: 'name',
                        label: 'Предмет',
                        width: '40'
                    },
                    {
                        field: 'task',
                        label: 'Домашка',
                    }
                ]
            }
        },
        created() {
            this.api = window.api;
            var weekdays = this.$dayjs().$locale().weekdays;

            // weekdays[7] = weekdays[0]; //переносим воскресение в конец
            // weekdays.shift(); //удаляем воскресение

            weekdays.forEach((element, index) => {
                if(index == 0 || index == 6) return
                this.weekdays.push(element[0].toUpperCase() + element.substring(1));
            });
            this.week = this.$dayjs().week;
        },
        beforeMount(){
            this.getWeek();
            this.getGdz();
        },
        methods: {
            visable(row){
                return false;
            },
            clicked(task_id){
                var key = this.openDeatil.indexOf(task_id);
                if(key == -1){
                    this.$set(this.openDeatil, this.openDeatil.length, task_id);
                }else{
                     this.$delete(this.openDeatil, key);
                }
                // this.openDeatil[this.openDeatil.length] = [row.task_id]
            },
            getWeek: function(week = null){
                if(week == null && this.$route.query.week === undefined ){
                    week = this.$dayjs().week();
                    if(this.$dayjs().$W >= 5) {
                        week++;
                    }
                }else if (week == null && !isNaN(this.$route.query.week)){
                    week = parseInt(this.$route.query.week);
                }
                console.log(week);
                if(week >= 55){
                    week = 1;
                }
                this.$router.replace({query: {week: week}});

                this.week = week;
                this.taskdata = [];


                if(window.localStorage.getItem(week) != null) this.taskdata = JSON.parse(window.localStorage.getItem(week));
                this.isOnline = navigator.onLine;

                this.api.callApi('task.getWeek', {week: week}, (response) => {
                    response = response.data;
                    var taskdata = [];
                    if(response.success === true) {
                        var resp = response.response;
                        resp.forEach((elem) => {
                            if (taskdata[elem.day] == undefined) taskdata[elem.day] = [];
                            if (elem.description != "null") {
                                var url = elem.description.match(/(https?:\/\/)?([\w\.]+)\.([a-z]{2,6}\.?)(\/[\w\.]*)*/ig);
                                if (url != null) {
                                    elem.description = elem.description.replace(url[0], "<a href='" + url[0] + "'>" + url[0] + "</a>");
                                }
                            }

                            taskdata[elem.day][taskdata[elem.day].length] = elem;

                        })
                        taskdata.forEach((elem, index) => {
                            this.$set(this.taskdata, index - 1, elem);
                        })
                    }
                    if(this.week == this.$dayjs().week()){
                        var today =this.$dayjs().day();
                        if (this.$dayjs().hour() > 16 && today < 5) today++;
                        
                        this.$nextTick(() => setTimeout(() => this.$scrollTo('.column:nth-child('+today+')', 200, {offset: 0}), 300));
                    }

                    this.isOnline = true;
                    window.localStorage.setItem(week, JSON.stringify(this.taskdata));
                    window.localStorage.setItem('lastupd'+week, Math.round(+new Date()/1000));
                })
            },
            getGdz() {
                var lessons = [];
                this.api.callApi('gdz.getRexExps', {}, (response) => {
                    response = response.data;
                    if (response.success != true) return;
                    var resp = response.response;

                    for(var key in resp) {
                        var str = resp[key];
                        str.replace(/\\+"/gi, function(s){return (s.length % 2) ? s : s.slice(0,-2) + '"';});
                        str = str.substr(1);
                        str = str.substring(0, str.length - 1);
                        this.$set(this.gdz_ids, key, str);
                    }
                    // console.log(this.gdz_ids);

                });
            },
            getDdzImg(lid, task){
                this.api.callApi('gdz.get', {
                    lesson_id: lid,
                    task: task
                }, (response) => {
                    var resp = response.data;
                    if(resp.success != false){
                        this.img_modal.src = resp.url;
                    }else{
                        this.img_modal.src = this.img_modal.notfound;
                    }
                    this.img_modal.active = true;
                })
            },
            parseTask(task){
                // if(this.gdz_ids[task.lid] !== undefined){
                if (this.isOnline){
                    var re = new RegExp(this.gdz_ids[task.lid], 'g'),
                        str = task.task,
                        match = null;
                    var result = [], finded = [];
                    while ((match = re.exec(str)) != null) {
                        finded.push(match[0]);
                    }
                    finded.forEach((match) => {
                        if (str != undefined) {
                            var exp = str.split(match);
                            if (exp[0] != "") result.push(exp[0]);

                            result.push([true, match]);
                            str = exp[1];
                        }
                    });
                    result.push(str);

                    return result;
                }
                return task.task;
            }

        }
    }
</script>

<style scoped>
    span div{
        display: inline;
    }
    .detail-text{
        white-space: pre-line;
    }
    .detail-warn{
        color: #0077b5;
        font-size: x-large;
        font-weight: bold;
    }

</style>
