<template>
  <section id="app">
    <nav class="navbar is-dark">
      <div class="navbar-brand">
        <router-link class="navbar-item" to="/">
          <div class="logo" id="main-title"><span style="color: #F44336;">Elite</span><span style="color: #4CAF50;">Domashka</span></div>
        </router-link>
        <div class="navbar-burger burger" @click="showNav = !showNav" :class="{ 'is-active': showNav, 'is-hidden-touch': true }">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-start">
          <div class="navbar-item">
            <router-link class="navbar-link" to="/">
              Домашка
            </router-link>
          </div>
          <div class="navbar-item">
            <router-link class="navbar-link" to="/lessons">
              Розклад
            </router-link>
          </div>

        </div>
      </div>
    </nav>
    <div class="container">
      <br>
      <router-view></router-view>
    </div>
    <div class="floatbuuton is-hidden-desktop">
      <b-tooltip label="Розклад тепер тут" always position="is-left" :active="firstlogin" >
        <div @click="hideTip()">
          <router-link class="button is-rounded is-medium" v-if="$router.history.current.path === '/'" to="/lessons">
                <span class="icon is-small">
                   <book-icon></book-icon>
                </span>
          </router-link>
          <router-link class="button is-rounded is-medium" v-if="$router.history.current.path == '/lessons'" to="/">
                <span class="icon is-small">
                  <file-document-box-multiple-outline-icon></file-document-box-multiple-outline-icon>
                </span>
          </router-link>
        </div>
      </b-tooltip>
    </div>
  </section>
</template>

<script>

    import BookIcon from "vue-material-design-icons/Book";
    import FileDocumentBoxMultipleOutlineIcon from "vue-material-design-icons/FileDocumentBoxMultipleOutline";
    export default {
        name: 'app',
        components: {FileDocumentBoxMultipleOutlineIcon, BookIcon},
        data(){
            return {
                showNav: false,
                firstlogin: false
            }
        },
        mounted(){
            if (window.localStorage.getItem('hide') === null){
                this.firstlogin = true;
            }
        },
        methods:{
            hideTip(){
                this.firstlogin = false;
                window.localStorage.setItem('hide', true);
            }
        }
    }
</script>

<style>
  .floatbuuton {
    z-index: 4;
    bottom: 16px;
    position: fixed;
    right: 16px;
  }
  svg.material-design-icon__svg {
      color: white;
  }
  a.router-link-active {
    /*color: #42b983;*/
  }
</style>


